DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
SITE_URL=https://repgunna.xyz
ALLOWED_CHANNEL_ID=1500964521882161297
FINDS_CHANNEL_ID=1502045050136428556
ANNOUNCEMENTS_CHANNEL_ID=
UPDATES_CHANNEL_ID=
WEBSITE_CHANNEL_ID=
FIND_API_URL=
FEED_API_URL=
CATALOG_API_URL=
ANNOUNCEMENTS_API_URL=
BOT_STATE_FILE=
BOT_API_TOKEN=
WELCOME_OWNER_ID=974731025479499806
VERIFY_ROLE_ID=
VERIFY_ROLE_NAME=Verified

BOT_DEPLOY_HOST=wyspbyte
BOT_DEPLOY_PATH=~/gunnafinds-bot
BOT_PROCESS_NAME=gunnafinds-bot
BOT_RESTART_MODE=
BOT_RESTART_COMMAND=
BOT_RESTART_USER_IDS=
BOT_RESTART_EXIT_CODE=1
